<div class="container">
    <h2>Liste des modules :</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-danger" >Supprimer</button>
                </td>
                <td>
                    <a routerLink="/module/detail">
                    <button class="btn btn-info"  >Modifier</button>
                </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

