<div class="container">

   <!--FORM POUR UPDATE MATIERE-->
   <form [formGroup]="updateForm" (ngSubmit)="this.update()">
      <h2><label> Détail de la matiere {{this.matiereSelected.nom}}</label></h2>
      <hr>

      ID : {{this.matiereSelected.id}}
      <br>
      <span style="color: red;">Vous ne pouvez pas modifier l'id</span>
      <br>
      Nom : {{this.matiereSelected.nom}}
      <br> <br>
       Nouveau nom : 
       <input type="text" placeholder="Tapez le nouveau nom ici .." required formControlName="nom"
         [(ngModel)]="this.matiereSelected.nom" />
      <br>
      <!--Message validator-->
      <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-danger">
         Le nom est nécessaire.
      </div>
      <br>
      <button type="submit" class="btn btn-info"[disabled]="!updateForm.valid"> Modifier </button>


      <div *ngIf="this.messageValidation != null || this.messageEchec != null">
         <!-- MESAGE D'ECHEC OU VALIDATION POUR UPDATE-->
         <div class="alert alert-success" *ngIf="this.messageValidation">
            <strong>Success!</strong> {{this.messageValidation}}
         </div>
         <div class="alert alert-danger" *ngIf="!this.messageValidation">
            <strong>Warning!</strong> {{this.messageEchec}}
         </div>
      </div>
   </form>
   <br>
</div>