<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Accueil</a>
            </li>
           <!-- 
               <li class="nav-item">
                <a class="nav-link" routerLink="/etudiant/add">Ajout Etudiant</a>
            </li> 
             -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/niveau">Niveau</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/classe">Classe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/module">Module</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/matiere">Matiere</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/etudiant">Etudiants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/examen">Examen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/note">Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/absence">Absence</a>
            </li>
        </ul>
    </nav>
</div>