<div class="container">
    <h2>Liste des matières :</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of this.allMatieres">
                <td>{{e.id}}</td>
                <td>{{e.nom}}</td>
                <td>
                    <button class="btn btn-danger" (click)="this.delete(e.id)">Supprimer</button>
                </td>
                <td>
                    <button class="btn btn-info" routerLink="/matiere/detail">Modifier</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
