<div>
    <form [formGroup]='absenceUpForm' class="col-lg-3 col-sm-6" (ngSubmit)="this.update()">
        <div class="form-group">
            <label for="debut">Début (YYYY-MM-DD) :</label>
            <input id="debut" type="date" class="form-control" [(ngModel)]="this.absence.debut"  name="debut" formControlName="debut" required>
            <div *ngIf="debut.errors && (debut.touched || debut.dirty)" class="alert alert-danger">Ce champ est requis !</div>
        </div>
        <div class="form-group">
            <label for="fin">Fin (YYYY-MM-DD) :</label>
            <input id="fin" type="date" class="form-control" [(ngModel)]="this.absence.fin" value="fin" name="fin" formControlName="fin" required>
            <div *ngIf="fin.errors && (fin.touched || fin.dirty)" class="alert alert-danger">Ce champ est requis !</div>
        </div>
        <div class="form-group">
            <label for="justification">Justification :</label>
            <input type="text" class="form-control" [(ngModel)]="this.absence.justification" value="justification" name="justification" required>
        </div>
        <div class="form-group">
            <label for="description">Description :</label>
            <input type="text" class="form-control" [(ngModel)]="this.absence.description" value="description" name="description" required>
            
        </div>
       
        <button type="submit" class="btn btn-primary" [disabled]="!this.absenceUpForm.valid">Submit</button>

        <div class="alert alert-success" *ngIf="messageValidation.length">
            <strong>Success!</strong> {{this.messageValidation}}
        </div>
    </form>
</div>