<div class="container">
    <h2>Liste des étudiants :</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Coefficient</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of this.allExamen">
                <td>{{e.id}}</td>
                <td>{{e.type}}</td>
                <td>{{e.coefficient}}</td>
                <td>{{e.date}}</td>
                <td>
                    <button class="btn btn-danger" (click)="this.delete(e.id)">Supprimer</button>
                    <button class="btn btn-info" (click)="this.getOne(e.id)">Détail</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
